.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.nav-header {
  width: 100vw;
}

.font-sm {
  font-size: 1rem;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col-full,
.col-half,
.col-third,
.col-fourth {
  width: 100%;
}

.modal-box > .col-half {
  width: 50%;
}

.div-headers > h2 {
  font-size: 1rem;
}

.global-data {
  font-size: 1rem;
}

@media screen and (max-width: 575px) {
  .hide-search-box,
  .watchlist-anchor,
  .trending-anchor {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .hamburger-icon,
  .choice-list,
  .search-nav-row {
    display: none;
  }

  .col-third {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .container,
  .nav-header {
    max-width: 900px;
  }

  .col-full,
  .col-half,
  .col-third,
  .col-fourth {
    padding: 0 0.25rem;
  }

  .col-half {
    width: 50%;
  }

  .font-sm,
  .global-data {
    font-size: 1.5rem;
  }

  .col-third {
    width: 33%;
  }

  .col-fourth {
    width: 25%;
  }

  .div-headers > h2 {
    font-size: 14px;
    text-align: center;
  }

  .modal-box {
    height: 400px;
    width: 600px;
  }

  input {
    width: 50%;
  }
}
