* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
