.bgc-lblue {
  background-color: rgb(22, 159, 254);
}

.bgc-lblue-transparent {
  background-color: rgb(22, 159, 254, 0.5);
}

.bgc-dblue {
  background-color: rgb(5, 17, 34);
}

.justify-right {
  justify-content: right;
}

.nav-bar {
  height: 100px;
  width: 100%;
}

.border-white {
  border: solid white;
  border-radius: 6px;
}

.margin-top {
  margin-top: 5%;
}

.justify-center {
  justify-content: center;
}

.hamburger-icon {
  width: 50px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.align-center {
  align-self: center;
}

.fixed-position {
  position: fixed;
}

.choice-list {
  border-top: solid white;
  border-bottom: solid white;
}

input {
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.search-button {
  color: white;
  background-color: rgb(22, 159, 254);
  border: solid white;
  border-radius: 5px;
  padding: 10px 25px;
}

.main-header {
  font-size: 3rem;
  margin-bottom: 0;
}

.sub-header {
  font-size: 2.5rem;
}

.search-header {
  color: white;
  font-size: 2rem;
}

.search-header:hover,
button:hover,
#home-button {
  cursor: pointer;
}

.info-box {
  background-color: rgb(22, 159, 254, 0.7);
  border: solid rgb(165, 163, 163);
  border-radius: 6px;
}

.watchlist-button {
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  background-color: rgb(5, 17, 34);
  border-radius: 6px;
  border: solid white;
  box-shadow: 0 0 5px 5px rgb(22, 159, 254);
}
