.bgc-lblack {
  background-color: rgb(33, 35, 40, 0.7);
}

.bgc-black {
  background-color: rgb(43, 42, 42);
}

.bgc-lblack-transparent {
  background-color: rgb(33, 35, 40, 0.5);
}

.bgc-dblue {
  background-color: rgb(5, 17, 34);
}

.space-between {
  justify-content: space-between;
}

.justify-right {
  justify-content: right;
}

.nav-bar {
  height: 100px;
  width: 100%;
}

.border-white {
  border: solid white;
  box-shadow: 0 0 5px 5px rgb(22, 159, 254);
  border-radius: 6px;
}

.margin-top {
  margin-top: 5%;
}

.justify-center {
  justify-content: center;
}

.border-bottom-white {
  border-bottom: thin solid rgba(199, 194, 194, 0.982);
  box-shadow: 0 0.25rem 0.125rem rgb(109, 108, 108);
}

.hamburger-icon {
  width: 35px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.align-center {
  align-self: center;
}

.fixed-position {
  position: fixed;
}

.choice-list {
  border-top: solid white;
  border-bottom: solid white;
  flex-direction: column;
  animation-duration: 0.25s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

input {
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.search-button {
  color: white;
  background-color: rgb(33, 35, 40, 0.7);
  border: solid white;
  border-radius: 5px;
  padding: 10px 25px;
}

.search-button:hover {
  background-color: rgb(18, 60, 94);
}

.main-header {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.sub-header {
  font-size: 2.5rem;
}

.search-header,
.watchlist-header,
.trending-header {
  color: white;
  font-size: 2rem;
  padding-left: 0.25rem;
}

.search-header:hover,
.watchlist-header:hover,
.trending-header:hover {
  color: rgb(174, 174, 244);
}

.search-header:hover,
button:hover,
#home-button {
  cursor: pointer;
}

.info-box {
  background-color: rgba(33, 35, 40, 0.7);
  border: solid rgba(255, 255, 255, 0.982);
  border-radius: 10px;
}

.watchlist-button {
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  background-color: rgb(5, 17, 34);
  border-radius: 6px;
  border: solid white;
}

.added-button {
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  background-color: rgb(5, 17, 34);
  border-radius: 6px;
  border: solid white;
}

.view-button,
.cancel {
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  background-color: rgb(5, 17, 34);
  border-radius: 6px;
  border: solid white;
}

.confirm {
  padding: 10px 20px;
  margin: 20px auto;
  color: white;
  background-color: rgb(194, 65, 99);
  border-radius: 6px;
  border: solid white;
  box-shadow: 0 0 5px 5px rgb(176, 34, 34);
}

.confirm:hover {
  background-color: rgb(121, 33, 57);
}

.checked {
  color: rgb(31, 231, 132);
}

.edit-button {
  color: white;
  background-color: rgb(5, 17, 34);
  border: solid white;
  border-radius: 5px;
  padding: 10px 25px;
  margin-bottom: 10%;
}

.watchlist-anchor,
.trending-anchor {
  color: white;
  font-size: large;
}

.anchor-hover:hover {
  color: rgba(255, 255, 255, 0.982);
  font-size: larger;
  border-bottom: solid rgba(255, 255, 255, 0.982);
}

.position-relative {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100vw;
  bottom: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.75);
}

.modal-box {
  align-self: center;
  position: absolute;
  background-color: rgba(55, 54, 54, 0.9);
  height: 200px;
  width: 400px;
  border: solid rgb(167, 167, 167);
  box-shadow: 0 0 35px 20px black;
}

.button-box {
  top: 50px;
}

.align-end {
  align-items: flex-end;
}

.no-padding {
  padding: 0;
}

.margin-sides {
  margin: 0 0.2rem;
}

.watchlist-button:hover,
.view-button:hover,
.edit-button:hover,
.cancel:hover {
  background-color: rgb(30, 80, 152);
}

.time-stamp {
  font-size: 0.8rem;
}

.white-bg-box {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.434);
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.vh100 {
  height: 100vh;
}
